.textbox {
    font-family: 'Lora';
    padding: 7% 10%;
    line-height: 1.5;
}

.textbox p {
  margin-top: 30px;
}

.collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.linkbox {
    margin: 0px;
    padding: 20px;
}

.linkbox ul {
    padding-left: 20px;
}

.linkbox li {
    margin-top: 10px;
    font-size: 0.75em;
}

.linkbox p {
    margin-top: 0px;
    font-size: .8125em;
    font-family: 'Spectral';
}

.linkbox a {
    text-decoration: none;
}

.tableofcontents li {
    margin-left: 10vw;
    font-size: 1em;
}

.tableofcontents ul {
    font-size: 0.75em;
}

.pagetitletext{
    font-size: 2.5em;
}

.p-18 {
    font-size: 1.125em; /* 18pt*/
    font-weight: bold;
}

/*.header-stack {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-shrink: 3;
    margin-left: 32px;
    margin-right: 32px;
    width: 50vw;
}*/

.namebox-text {
    text-align: center;
}

.namebox {
    margin-top: 20px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora';
    padding: 7% 7%;
    line-height: 1.5;
}

.namebox-text h1 {
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 1.5em;
}

.namebox-text p {
    margin-top: 0px;
    margin-bottom: 20px;
}

.namebox-links {
    border-radius: 15px;
    background-color: #4b4b4b;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}


.namebox-links a {
    font-family: 'Spectral';
    width: 50%;
    box-sizing: border-box;
    text-decoration: none;
}

.pfp {
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 32px;
}

.sectionheader {
    text-align: center;
}

.textbox.intro-paragraph {
    margin: 0;
}

.intro-paragraph {
    text-align: center;
    font: 1.75em;
}

